html,
body {
  font-family: "Open Sans", sans-serif;
  color: #d63b2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #da0001;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -3px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

p {
  line-height: 1.6;
  margin: 20px 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #da0001;
  text-decoration: none;
}

.App {
  text-align: center;
}

.Nav-Bar {
  padding: 10px 80px;
  margin-bottom: 40px;
  background-color: #2d2d2c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Nav-Bar .Nav-Bar-Title {
  text-align: left;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
}
.Nav-Bar .Nav-Bar-Content {
  text-align: right;
  align-items: right;
  display: flex;
}
.Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item {
  padding: 10px;
  transition: transform 400ms;
}
.Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item:hover, .Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item:active, .Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item:focus {
  transform: scale(1.1);
}
.Nav-Bar .Nav-Bar-Content .Nav-Bar-Content-Item .Nav-Bar-Content-Link {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.Live-Event {
  padding: 40px 80px;
  padding-bottom: 40px;
  max-width: 1000px;
  margin: auto;
  margin-top: 105px;
  z-index: 2;
}
.Live-Event .Live-Event-Box {
  background: #ffffff;
  box-shadow: 0px 4px 20px #00000026, 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
}
.Live-Event .Live-Event-Box .Map {
  padding: 0;
  width: 100%;
}

.Event-Gallery {
  padding: 0 80px;
  padding-bottom: 10px;
}
.Event-Gallery .Event-Gallery-Card {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: transform 400ms;
}
.Event-Gallery .Event-Gallery-Card:hover, .Event-Gallery .Event-Gallery-Card:active, .Event-Gallery .Event-Gallery-Card:focus {
  transform: scale(1.1);
}
.Event-Gallery .Event-Gallery-Card .Event-Gallery-Card-Info {
  padding: 25px 5px;
  background: #2d2d2c;
}
.Event-Gallery .Event-Gallery-Card .Event-Gallery-Card-Info .Event-Gallery-Card-Name {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.Event-Gallery .Event-Gallery-Card .Event-Gallery-Card-Info .Event-Gallery-Card-Bio {
  display: block;
  color: #a7a7a7;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.Event-Gallery .Event-Gallery-Card .Event-Gallery-Card-Image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.Partners {
  padding: 0px 80px;
  padding-bottom: 40px;
}
.Partners .Partners-Box {
  background: #ffffff;
  box-shadow: 0px 4px 20px #29292926, 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow: hidden;
  min-height: 512px;
}
.Partners .Partners-Box .Partners-Title {
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 800;
}

.Pledge-Tracker {
  padding: 20px 80px;
  padding-bottom: 45px;
}
.Pledge-Tracker .Pledge-Tracker-Bar {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.Footer {
  background: #2d2d2c;
  color: #a7a7a7;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 0;
}

.Parallax {
  /*background-image: url("backdrop.jpg");*/
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.Dropdown .Dropdown-Toggle {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #da0001, 50%, #f17e7e);
  border: none;
}
.Dropdown .Dropdown-Toggle:hover, .Dropdown .Dropdown-Toggle:active, .Dropdown .Dropdown-Toggle:focus {
  background: linear-gradient(315deg, #da0001, 50%, #f17e7e);
}
.Dropdown .Dropdown-Menu {
  text-align: left;
  background-color: #ffffff;
  transition: height 500ms ease-out;
}
.Dropdown .Dropdown-Menu .Dropdown-Item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  border: 0;
  padding: 5px 10px;
  text-align: right;
}
.Dropdown .Dropdown-Menu .Dropdown-Item:hover, .Dropdown .Dropdown-Menu .Dropdown-Item:active, .Dropdown .Dropdown-Menu .Dropdown-Item:focus {
  text-decoration: none;
  color: #da0001;
  background-color: #f2f2f2;
}