.dropdown {
  .dropdown-toggle {
    margin-top: 0px;
  }
  .dropdown-menu {
    .dropdown-item {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      border: 0;
      padding: 5px 10px;
    }
    .dropdown-item.active {
      background-color: #ffffff;
      color: #da0001;
    }
  }
}
