.Live-Event {
  //background-color: lightgray;
  padding: 50px 80px;

  .Live-Event-Box {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15),
      0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    min-height: 512px;
  }
}
